body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.left_image {
  float: left;
  padding: 40px 130px 30px 320px;
}
.right_image > p {
  font-size: 24px;
  color: #000000;
  font-family: 14px/1.7 "Open Sans", Helvetica, Arial, sans-serif;
}
.right_image {
  margin-top: 250px;
}

.right_image > img {
  margin-right: 30px;
  cursor: pointer;
}

header {
  font-size: 13px;
}

@media (min-width: 350px) and (max-width: 1100px) {
  .left_image {
    display: none;
  }
  .right_image {
    display: none;
  }
}
